@import "tailwindcss";

:root {
  --font-tt-runs: TTRuns, sans-serif;
}

@theme {
  --color-background: #F5F5F5;
  --color-black: #121514;
  --color-white: #FFFFFF;
  --color-red: #E50606;
  --color-dark-grey: #727272;
  --color-light-grey: #D6D6D6;
  --color-dark-green: #1E2120;
  --color-dark-red: #731D1D;
  --color-yellow: #F8CE38;
  --color-clutch: #17313B;
  
  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1920px;
  
  --shadow-block:  0px 0px 15px 10px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  height: 100%;
  font-family: var(--font-tt-runs);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
