@import "tailwindcss";

:root {
  --font-tt-runs: TTRuns, sans-serif;
}

@theme {
  --color-background: #F5F5F5;
  --color-black: #121514;
  --color-white: #FFFFFF;
  --color-red: #E50606;
  --color-dark-grey: #727272;
  --color-light-grey: #D6D6D6;
  --color-dark-green: #1E2120;
  --color-dark-red: #731D1D;
  --color-yellow: #F8CE38;
  --color-clutch: #17313B;
  
  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1920px;
  
  --text-1xl: 1.375rem;
  --text-3xl-plus: 2rem;
  --text-4xl-plus: 2.875rem;
  --text-5xl-plus: 3.25rem;
  
  --spacing-c-22: 1.375rem;
  --spacing-c-50: 3.125rem;
  --spacing-c-52: 3.25rem;
  --spacing-c-60: 3.75rem;
  --spacing-c-100: 6.25rem;
  --spacing-c-200: 12.5rem;
  
  --radius-20: 1.250rem;
  
  --shadow-block:  0px 0px 15px 10px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  height: 100%;
  font-family: var(--font-tt-runs);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grow {
  flex: 1 0 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.section-header {
  @apply font-medium tracking-wider text-1xl lg:text-3xl-plus xl:text-4xl-plus;
}

.section-label {
  @apply text-xs mb-4 md:mb-3 lg:mb-4 uppercase
}
